*.obj
*.db
*.pdb
.lib
.ipch
*.zip
*.7z
*.iso
*.bak
.vs/
ats/
cctv/
configuration/
ecs/
history/
ias/
incidents/
maintenance_namagement/
radio/
scada/
signs/
simulator/
system_control/
telephone/
trains/
wild/
